


  <form> 
    <div class="container con">
      <div class="col-xs-6 col-md-6 col-sm-6">
        <div class="input-group">
          <input type="text"  (keyup)="search($event)" class="form-control" placeholder="Search" id="txtSearch"/>
          <div class="input-group-btn">
            <button class="btn btn-primary search" (click)="search()" type="submit">Search</button>
          </div>
        </div>
      </div>
    </div>
  </form>

<div class="reportbody" *ngFor ="let report of reportData">
  <div class="container">
      <div class="row">
        <div class="col-sm">
            <tr>
                <td><img src="{{report.image}}" style="margin-top:10px;margin-bottom:10px;" width="200" height="200"></td>
            </tr>
        </div>
        <div class="col-sm" style="margin-top:10px;">
            <tr><td><a href="">{{report.title}}</a></td></tr>
            <tr><td>{{report.shortdesc}}</td></tr>
            <tr><td>Published : {{report.publisheddate}}</td></tr>
            <tr><td>Cost : {{report.cost}}</td></tr>
          
        </div>
      </div>
    </div>
</div>
